body {
  text-align: center;
  background: #f7fafc;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  border: 10px solid #e9d8fd;
  border-radius: 50%;
  border-top: 10px solid #805ad5;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
